header{
    text-align:center; 
    background-color: royalblue;
}

h1{
    color: white;
}

h2{
    color: white;
}

button{
    background-color: gray;
    font-size: 20px;
    text-align: center;
    border: 0;
}

footer{
    background-color: royalblue;
     padding: 1px;
}

p{
   color: white;
}