
body{
	
}
h1{
	color:black;
	font-weight:bold;
	text-align: center;
	font-family:verdana ;
}
h2{
	color:orange;
	
	font-weight:bold;
	text-align: center;
	
}
form{
	border: 1px solid blue;
	padding:10px;
	background-color:white;
	max-width:50%;
	margin-top: 100px;
	
	
}
p{
	width:400px;
	text-align: left;
	vertical-align: top;
}
label.left{
	float: left;
	font-size: 25px;

	font-weight:bold;
}

input{
	padding: 10px;
	max-width: 100%;
	margin-top: 15px;
}
.menu{
    align-items: baseline;
}
