*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body{
    background: #f5f6fa;
  }
  .wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
  }
  
  .wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  .wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
  }
  
  .wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
  }
  .wrapper .sidebar{
    background: royalblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
  }
  .wrapper .sidebar ul{
    margin-left: 5%;
  }
  .wrapper .sidebar ul li{
    width: 95%;
  }
  .wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    background-color: grey;
    border-radius: 5px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
  }
  
  .wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
  }
  
  
  .wrapper .sidebar ul li a:hover,
  .wrapper .sidebar ul li a.active{
    color: #0c7db1;
  
    background:white;
    border-right: 2px solid rgb(5, 68, 104);
  }
  
  .wrapper .sidebar ul li a:hover .icon,
  .wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
  }
  
  .wrapper .sidebar ul li a:hover:before,
  .wrapper .sidebar ul li a.active:before{
    display: block;
  }
  .wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
  }
  
  .wrapper .section .top_navbar{
    background: royalblue;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    color: #ffffff;
  }
  button{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #10558d;
    background-color: grey;
    border-radius: 5px;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: absolute;
    margin-top: 25%;
    margin-left: 50%;
    width: 200px;
  }
  footer{
    background: royalblue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    color: #ffffff;
  }