p{
    color: white;
    font-size: 20px;
}
 

header{
    background-color: royalblue;
    padding: 10px;
}

button{
    background-color: grey;
}

footer{
    background-color: royalblue;
    padding: 1px;
}
